
@{
    ViewBag.Title = "purchase-register2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <link href="../assets/css/reports.css" rel="stylesheet">
</head>
<body class="bg-sky-light">

    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")

    <div class="container">
        <div class="row">
            <main class="main-body">
                <div class="main-body-wrapper">
                    <div class="collapsebody bg-f8f8f8 collapse show group-lookuptab" id="">
                        <div class="collapsewrap card bx-shadow ">
                            <div class="collapseheader ps-0 pe-0 me-0">
                                <div class="back_button">
                                    <a href="@Url.Action("PurchaseRegister", "Reports")" class=" left_arrow">
                                        <span class="arrow-wrapper">
                                            <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.3048 9.75292C5.38285 9.82121 5.47378 9.87319 5.57222 9.90582C5.67066 9.93845 5.77464 9.95106 5.87803 9.94291C5.98142 9.93476 6.08213 9.90601 6.17425 9.85837C6.26637 9.81072 6.34802 9.74513 6.41442 9.66546C6.48081 9.58578 6.5306 9.49364 6.56086 9.39444C6.59111 9.29524 6.60122 9.19099 6.5906 9.08783C6.57997 8.98466 6.54881 8.88467 6.49897 8.79372C6.44912 8.70277 6.38159 8.62271 6.30035 8.55825L2.85479 5.6867L11.7261 5.6867C11.9324 5.6867 12.1302 5.60475 12.2761 5.45889C12.422 5.31303 12.5039 5.1152 12.5039 4.90892C12.5039 4.70264 12.422 4.50481 12.2761 4.35895C12.1302 4.21308 11.9324 4.13114 11.7261 4.13114L2.99635 4.13114L6.30035 1.37781C6.45898 1.24579 6.55867 1.05616 6.57748 0.850643C6.5963 0.645123 6.5327 0.440547 6.40068 0.281918C6.26866 0.123289 6.07904 0.0236021 5.87352 0.00478612C5.668 -0.0140308 5.46342 0.0495659 5.30479 0.181585L0.28035 4.3707C0.192818 4.44369 0.122398 4.53503 0.0740733 4.63825C0.0257488 4.74147 0.000699552 4.85406 0.000699562 4.96803C0.000699572 5.082 0.0257488 5.19458 0.0740734 5.29781C0.122398 5.40103 0.192818 5.49237 0.28035 5.56536L5.3048 9.75292Z" fill="#043376"></path>
                                            </svg>
                                        </span>
                                        Back
                                    </a>
                                </div>
                                <div class="top_content"><h1 class="heading">Purchase Register</h1></div>
                                <div class="d-flex justify-content-center">
                                    <div class="top_content text-center">
                                        <h1 class="heading mb-0">Item-Mobile</h1>
                                        <span class="sub-heading">(From 20-02-2021 To 20-03-2021)</span>
                                    </div>
                                </div>
                                <div class="box_container pb-3">
                                    <div id="" class="dataTables_wrapper">
                                        <table class="display customize-table-style dataTable" id="SalesbyItems" role="grid" aria-describedby="basic-14_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Vendor Name</th>
                                                    <th>Quantity Purchased</th>
                                                    <th>Amount</th>
                                                    <th>Average Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row">
                                                    <td><a href="javascript:void(0);">Mobile</a></td>
                                                    <td>10</td>
                                                    <td>$50,000.00</td>
                                                    <td>$5,000.00</td>
                                                </tr>
                                                <tr class="theme-secondary" role="row">
                                                    <td>Total</td>
                                                    <td>10</td>
                                                    <td>$50,000.00</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="schedulereport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report Name : Sales Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body " style="background:#fff;">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating" id="the-basics-agents">
                                <input class="form-control" type="text" placeholder="Enter Name">
                                <label for="floatingSelect">To*</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating" id="the-basics-agents">
                                <input class="form-control" type="text" placeholder="Enter Name">
                                <label for="floatingSelect">Cc*</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select" id="" aria-label="Floating label select example">
                                    <option value="" selected="">Select</option>
                                    <option value="">Frequency 1</option>
                                    <option value="">Frequency 2</option>
                                </select>
                                <label for="floatingSelect">Frequency *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year Start Date">
                                <label for="floatingSelect">Start Date *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input class="dateandtime form-control" type="text" name="bidule-b" value="">
                                <label for="floatingSelect">Start Time *</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select" id="" aria-label="Floating label select example">
                                    <option value="" selected="">Select Format</option>
                                    <option value="">Attach Report 1</option>
                                    <option value="">Attach Report 2</option>
                                </select>
                                <label for="floatingSelect">Attach Report as</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn action-btn bg-action-light active">Send</button>
                    <button type="button" class="btn action-btn bg-action-light" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <script>


  $(document).ready(function () {

    $('.dateandtime').dateAndTime();

      var substringMatcher = function (strs) {
          return function findMatches(q, cb) {
              var matches, substringRegex;
              matches = [];
              substrRegex = new RegExp(q, 'i');
              $.each(strs, function (i, str) {
                  if (substrRegex.test(str)) {
                      matches.push(str);
                  }
              });

              cb(matches);
          };
      };

      var agents = ['Nicole Prejean', 'David', 'Smith', 'WEI MIAO', 'laili',
          'Onsri', 'Wan Yun', 'Enyu', 'Rio Rica', 'Sanjay', 'Priscilla Jia', 'John Smith',
          'Redha Nuruinda', 'Mylon Jan', 'Ma Lothel', 'Raufa', 'Areanne Glee', 'Mary Jasmine',
      ];

      $('#the-basics-agents .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
      },
          {
              name: 'states',
              source: substringMatcher(agents)
          });
  });

    </script>

    <script>
$(function() {
  $('input[name="fiscaldate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
  });
});

$(function() {
    $('input[name="daterange"]').daterangepicker(
        {
            ssingleDatePicker: 'true',
            showShortcuts: 'false',
            showTopbar: 'false'
        }
    );
});
  $('#datatable1').DataTable({
          "columnDefs": [
              {
                  "targets": -1,
                  "orderable": false
              }
          ],
          language: {
              search: "_INPUT_",
              searchPlaceholder: "Search..."
          },
          fixedHeader: {
              header: true,
          },
          "dom": '<"top"<"toolbar">tf<"clear">>rt<"bottom"lip<"clear">>'
      });

    </script>

    <script>
 $(".form-switch").click(function () {
    if ($(this).parent().hasClass("yes")) {
      $(this).parent().removeClass("yes");
      $(this).parent().addClass("no");
    } else {
      $(this).parent().removeClass("no");
      $(this).parent().addClass("yes");
    }
  });
    </script>
    <script>
  $(document).ready(function () {

      $('#SalesbyItems').DataTable({
          pagingType: 'full_numbers',
      });

      $('#framework').multiselect({
        nonSelectedText: 'Select Framework',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        buttonWidth:'400px'
      });
  });
    </script>
</body>
</html>
