
@{
    ViewBag.Title = "Reciept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="bg-sky-light">

    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")
    <div class="container">
        <div class="row">
            <main class="main-body">
                <div class="main-body-wrapper">
                    <div class="back_button">
                        <a href="@Url.Action("banking_dashboard","Banking")" class=" left_arrow">
                            <span class="arrow-wrapper">
                                <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.3048 9.75292C5.38285 9.82121 5.47378 9.87319 5.57222 9.90582C5.67066 9.93845 5.77464 9.95106 5.87803 9.94291C5.98142 9.93476 6.08213 9.90601 6.17425 9.85837C6.26637 9.81072 6.34802 9.74513 6.41442 9.66546C6.48081 9.58578 6.5306 9.49364 6.56086 9.39444C6.59111 9.29524 6.60122 9.19099 6.5906 9.08783C6.57997 8.98466 6.54881 8.88467 6.49897 8.79372C6.44912 8.70277 6.38159 8.62271 6.30035 8.55825L2.85479 5.6867L11.7261 5.6867C11.9324 5.6867 12.1302 5.60475 12.2761 5.45889C12.422 5.31303 12.5039 5.1152 12.5039 4.90892C12.5039 4.70264 12.422 4.50481 12.2761 4.35895C12.1302 4.21308 11.9324 4.13114 11.7261 4.13114L2.99635 4.13114L6.30035 1.37781C6.45898 1.24579 6.55867 1.05616 6.57748 0.850643C6.5963 0.645123 6.5327 0.440547 6.40068 0.281918C6.26866 0.123289 6.07904 0.0236021 5.87352 0.00478612C5.668 -0.0140308 5.46342 0.0495659 5.30479 0.181585L0.28035 4.3707C0.192818 4.44369 0.122398 4.53503 0.0740733 4.63825C0.0257488 4.74147 0.000699552 4.85406 0.000699562 4.96803C0.000699572 5.082 0.0257488 5.19458 0.0740734 5.29781C0.122398 5.40103 0.192818 5.49237 0.28035 5.56536L5.3048 9.75292Z" fill="#043376" />
                                </svg>
                            </span>
                            Back
                        </a>
                    </div>
                    <div class="top_content">
                        <h1 class="heading">Receipt</h1>
                        <span class="sub-heading">Record money received recieived form your from your customers and allocate it to one or more outstanding invoices, or save it as a payment on account to allocate later.</span>
                    </div>
                    <div class="tabboxcontainer bankng_tab mt-3">
                        <ul class="nav p-0 nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-customerreceipt-tab" data-bs-toggle="pill" data-bs-target="#pills-customerreceipt" type="button" role="tab" aria-controls="pills-customerreceipt" aria-selected="true">Customer Receipt</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-customeradvance-tab" data-bs-toggle="pill" data-bs-target="#pills-customeradvance" type="button" role="tab" aria-controls="pills-customeradvance" aria-selected="false">Customer Advance</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-vendorrefund-tab" data-bs-toggle="pill" data-bs-target="#pills-vendorrefund" type="button" role="tab" aria-controls="pills-vendorrefund" aria-selected="false">Vendor Refund</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-otherpayment-tab" data-bs-toggle="pill" data-bs-target="#pills-otherpayment" type="button" role="tab" aria-controls="pills-otherpayment" aria-selected="false">Other Receipt</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-customerreceipt" role="tabpanel" aria-labelledby="pills-customerreceipt-tab">
                                <div class="new-bill-payment clearfix pt-3 px-4">
                                    <a href="javascript:void(0);" class="action-btn text-end float-end py-2 active" data-bs-toggle="modal" data-bs-target="#CreateGstCode">Add New Receipt</a>
                                </div>

                                <div class="form-container p-4">
                                    <div class="row g-3">
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Customer Name*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">Amount Received*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year End Date">
                                                <label for="floatingSelect">Date Of Receipt*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Payment Mode*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Paid Into*</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 clearfix px-4">
                                    <div class="dropdown float-end select-box-w-154">
                                        <a class="form-select py-1 dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="">All</span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">All</a></li>
                                            <li><a class="dropdown-item" href="#">Due</a></li>
                                            <li><a class="dropdown-item" href="#">Outstanding</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="p-4 pb-0">
                                    <div class="card mb-0">
                                        <table class="display customize-table-style dataTable" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Receipt Date</th>
                                                    <th>Receipt Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Invoice Number</th>
                                                    <th>Outstanding Amount</th>
                                                    <th>Amount Received</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row">
                                                    <td>21-02-2023</td>
                                                    <td>1</td>
                                                    <td>Kapil Sharma</td>
                                                    <td>INB-12</td>
                                                    <td>$5,700.00</td>
                                                    <td>$5,400.00</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="card pt-4 px-4">
                                    <table class="display customize-table-style dataTable" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                        <thead>
                                            <tr role="row">
                                                <th>Invoice Date</th>
                                                <th>Invoice Number</th>
                                                <th>Reference Number</th>
                                                <th>Invoice Amount</th>
                                                <th>Outstanding</th>
                                                <th>Discount</th>
                                                <th>Amount Received</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row">
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="billing-address">
                                                        <label class="form-check-label" for="billing-address">23-04-2023</label>
                                                    </div>
                                                </td>
                                                <td>INB123</td>
                                                <td>12345</td>
                                                <td>$60.00</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$60.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$0.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$54.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>Outstanding</td>
                                            </tr>
                                            <tr role="row">
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="billing-address">
                                                        <label class="form-check-label" for="billing-address">21-04-2023</label>
                                                    </div>
                                                </td>
                                                <td>INB123</td>
                                                <td>12345</td>
                                                <td>$54.00</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$6.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$0.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="" value="$0.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>Due</td>
                                            </tr>
                                            <tr role="row">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control theme-secondary" id="" value="$60.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control theme-secondary" id="" value="$0.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control theme-secondary" id="" value="$54.00" placeholder="Please Enter Currency Rate">
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="py-3">
                                        <div class="form-action-section float-end">
                                            <a href="#" class="upload d-flex align-items-center">
                                                Upload
                                                <span class="icon ms-1">
                                                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.8888 0.0830975C1.0552 0.309965 0.443183 0.879772 0.116072 1.73448L0 2.03521V9.97558C0 17.6047 0.00527599 17.9265 0.100244 18.2061C0.321835 18.8551 0.754467 19.3932 1.29262 19.6781C1.91518 20.0105 1.68832 20 7.50773 20C13.343 20 13.1425 20.0105 13.7334 19.6729C14.3401 19.3299 14.8255 18.644 14.9574 17.9476C15.0313 17.5572 15.0313 6.55674 14.9574 6.17159C14.9258 6.01331 14.8308 5.73368 14.7411 5.54375C14.5987 5.23246 14.3665 4.98449 12.1981 2.82134C9.70782 0.336346 9.59175 0.236101 8.99556 0.0830975C8.55766 -0.0276985 2.30561 -0.0276985 1.8888 0.0830975ZM7.52884 3.63384L7.54467 6.05024L7.74515 6.45649C7.97202 6.91551 8.22527 7.14765 8.72121 7.34814C9.01667 7.46421 9.06943 7.46948 11.412 7.48531L13.802 7.50114L13.7862 12.6558C13.7703 17.784 13.7703 17.8104 13.6595 18.0478C13.5276 18.3275 13.2638 18.5807 13.0053 18.6862C12.8523 18.7496 11.9501 18.7601 7.49191 18.7601H2.16316L1.90991 18.6335C1.625 18.4963 1.37176 18.1903 1.29262 17.8843C1.25569 17.7577 1.24513 15.0194 1.25041 9.88589L1.26624 2.08797L1.38231 1.86638C1.53004 1.59203 1.80439 1.37572 2.12622 1.2913C2.31088 1.24381 3.0548 1.22271 4.9436 1.22271L7.51301 1.21744L7.52884 3.63384ZM9.13801 1.52872C9.5812 1.88749 13.6226 5.98693 13.6543 6.10828L13.6806 6.22963H11.4436C9.00084 6.22963 8.98501 6.22963 8.83201 5.92889C8.72121 5.7073 8.68956 1.32296 8.80563 1.32296C8.84783 1.32296 8.99556 1.41792 9.13801 1.52872Z" fill="#ADBFCD"></path>
                                                        <path d="M7.2297 8.86104C7.14528 8.9138 6.32751 9.7052 5.42531 10.6179C3.78975 12.2535 3.77393 12.2746 3.77393 12.4909C3.77393 12.8866 4.19601 13.219 4.53894 13.0871C4.61808 13.0555 5.17206 12.5542 5.76825 11.9686L6.86038 10.9029L6.88676 13.3826C6.91842 16.1683 6.90259 16.0839 7.30356 16.2052C7.56736 16.2844 7.7573 16.2369 7.94724 16.0417L8.10024 15.8939V13.372V10.8501L9.22403 11.9633C10.4375 13.1715 10.5219 13.2243 10.8649 13.0607C11.1867 12.9077 11.3239 12.5701 11.1867 12.2799C11.0812 12.053 7.90503 8.88742 7.71509 8.81883C7.50405 8.7397 7.40908 8.74497 7.2297 8.86104Z" fill="#ADBFCD"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light active">Save</a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light">Cancel</a>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="tab-pane fade" id="pills-customeradvance" role="tabpanel" aria-labelledby="pills-customeradvance-tab">
                                <div class="new-bill-payment clearfix pt-3 px-4">
                                    <a href="javascript:void(0);" class="action-btn text-end float-end py-2 active" data-bs-toggle="modal" data-bs-target="#CreateGstCode">Add New Receipt</a>
                                </div>
                                <div class="form-container p-4">
                                    <div class="row g-3">
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Customer Name*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">Amount Received*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year End Date">
                                                <label for="floatingSelect">Date of Receipt*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Payment Mode*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Unselected">
                                                <label for="floatingSelect">Paid Into*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-3 g-3">
                                        <div class="top_content">
                                            <h1 class="heading">Tax Details</h1>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating input-edit" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">GST Code*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Place of supply*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">GST Amount</label>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="dash-form-group">
                                                <label class="form-check-label" for="status">TDS Deducted ?</label>
                                                <div class="display-label yes">
                                                    <span class="dash-check-group">
                                                        <span class="yes">Yes</span>
                                                        <span class="no">No</span>
                                                    </span>
                                                    <div class="form-switch">
                                                        <input class="form-check-input" type="checkbox" id="status" checked="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">TDS Amount</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="py-3">
                                        <div class="form-action-section justify-content-end">
                                            <a href="#" class="upload d-flex align-items-center">
                                                Upload
                                                <span class="icon ms-1">
                                                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.8888 0.0830975C1.0552 0.309965 0.443183 0.879772 0.116072 1.73448L0 2.03521V9.97558C0 17.6047 0.00527599 17.9265 0.100244 18.2061C0.321835 18.8551 0.754467 19.3932 1.29262 19.6781C1.91518 20.0105 1.68832 20 7.50773 20C13.343 20 13.1425 20.0105 13.7334 19.6729C14.3401 19.3299 14.8255 18.644 14.9574 17.9476C15.0313 17.5572 15.0313 6.55674 14.9574 6.17159C14.9258 6.01331 14.8308 5.73368 14.7411 5.54375C14.5987 5.23246 14.3665 4.98449 12.1981 2.82134C9.70782 0.336346 9.59175 0.236101 8.99556 0.0830975C8.55766 -0.0276985 2.30561 -0.0276985 1.8888 0.0830975ZM7.52884 3.63384L7.54467 6.05024L7.74515 6.45649C7.97202 6.91551 8.22527 7.14765 8.72121 7.34814C9.01667 7.46421 9.06943 7.46948 11.412 7.48531L13.802 7.50114L13.7862 12.6558C13.7703 17.784 13.7703 17.8104 13.6595 18.0478C13.5276 18.3275 13.2638 18.5807 13.0053 18.6862C12.8523 18.7496 11.9501 18.7601 7.49191 18.7601H2.16316L1.90991 18.6335C1.625 18.4963 1.37176 18.1903 1.29262 17.8843C1.25569 17.7577 1.24513 15.0194 1.25041 9.88589L1.26624 2.08797L1.38231 1.86638C1.53004 1.59203 1.80439 1.37572 2.12622 1.2913C2.31088 1.24381 3.0548 1.22271 4.9436 1.22271L7.51301 1.21744L7.52884 3.63384ZM9.13801 1.52872C9.5812 1.88749 13.6226 5.98693 13.6543 6.10828L13.6806 6.22963H11.4436C9.00084 6.22963 8.98501 6.22963 8.83201 5.92889C8.72121 5.7073 8.68956 1.32296 8.80563 1.32296C8.84783 1.32296 8.99556 1.41792 9.13801 1.52872Z" fill="#ADBFCD"></path>
                                                        <path d="M7.2297 8.86104C7.14528 8.9138 6.32751 9.7052 5.42531 10.6179C3.78975 12.2535 3.77393 12.2746 3.77393 12.4909C3.77393 12.8866 4.19601 13.219 4.53894 13.0871C4.61808 13.0555 5.17206 12.5542 5.76825 11.9686L6.86038 10.9029L6.88676 13.3826C6.91842 16.1683 6.90259 16.0839 7.30356 16.2052C7.56736 16.2844 7.7573 16.2369 7.94724 16.0417L8.10024 15.8939V13.372V10.8501L9.22403 11.9633C10.4375 13.1715 10.5219 13.2243 10.8649 13.0607C11.1867 12.9077 11.3239 12.5701 11.1867 12.2799C11.0812 12.053 7.90503 8.88742 7.71509 8.81883C7.50405 8.7397 7.40908 8.74497 7.2297 8.86104Z" fill="#ADBFCD"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light active">Save</a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light">Cancel</a>
                                        </div>
                                    </div>
                                    <div class="">

                                        <div class="card mb-0">
                                            <table class="display customize-table-style dataTable px-3" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Receipt Date</th>
                                                        <th>Receipt Number</th>
                                                        <th>Customer Name</th>
                                                        <th>Advance Received</th>
                                                        <th>Tax Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row">
                                                        <td>21-02-2023</td>
                                                        <td>ADV_REC_01</td>
                                                        <td>Kapil Sharma</td>
                                                        <td>$5,000.00</td>
                                                        <td>$500.00</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-vendorrefund" role="tabpanel" aria-labelledby="pills-vendorrefund-tab">
                                <div class="new-bill-payment clearfix pt-3 px-4">
                                    <a href="javascript:void(0);" class="action-btn text-end float-end py-2 active" data-bs-toggle="modal" data-bs-target="#CreateGstCode">Add New Receipt</a>
                                </div>
                                <div class="form-container p-4">
                                    <div class="row g-3">
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Vendor Name*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">Amount Refunded*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating">
                                                <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year End Date">
                                                <label for="floatingSelect">Refund Date*</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Payment Mode</label>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Paid Into*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4 ps-0 pb-0 pe-0">
                                        <div class="card">
                                            <table class="display customize-table-style dataTable" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Receipt Date</th>
                                                        <th>Receipt Number</th>
                                                        <th>Vendor Name</th>
                                                        <th>Note Number</th>
                                                        <th>Outstanding Amount</th>
                                                        <th>Amount Received</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row">
                                                        <td>23-04-2023</td>
                                                        <td>REC_VEN_01</td>
                                                        <td>Aman Singh</td>
                                                        <td>CN-12</td>
                                                        <td>$5,700.00</td>
                                                        <td>$5,400.00</td>
                                                    </tr>
                                                    <tr role="row">
                                                        <td>21-04-2023 </td>
                                                        <td>INB123</td>
                                                        <td>12345</td>
                                                        <td>$5,400.00</td>
                                                        <td>$5100.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="p-4 ps-0 pb-0 pe-0">
                                        <div class="card">
                                            <table class="display customize-table-style dataTable" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Date</th>
                                                        <th>Note Number</th>
                                                        <th>Reference Number</th>
                                                        <th>Total Amount</th>
                                                        <th>Outstanding</th>
                                                        <th>Amount Received</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row">
                                                        <td>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="billing-address">
                                                                <label class="form-check-label" for="billing-address">23-04-2023</label>
                                                            </div>
                                                        </td>
                                                        <td>INB123</td>
                                                        <td>12345</td>
                                                        <td>$5700</td>
                                                        <td>$5,400.00</td>
                                                        <td>
                                                            <input type="text" class="form-control" id="" value="$5,400.00" placeholder="">
                                                        </td>
                                                    </tr>
                                                    <tr role="row">
                                                        <td>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="billing-address">
                                                                <label class="form-check-label" for="billing-address">21-04-2023</label>
                                                            </div>
                                                        </td>
                                                        <td>INB123</td>
                                                        <td>12345</td>
                                                        <td>$5,400.00</td>
                                                        <td>$5100.00</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="py-4">
                                        <div class="form-action-section justify-content-end">
                                            <a href="#" class="upload d-flex align-items-center">
                                                Upload
                                                <span class="icon ms-1">
                                                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.8888 0.0830975C1.0552 0.309965 0.443183 0.879772 0.116072 1.73448L0 2.03521V9.97558C0 17.6047 0.00527599 17.9265 0.100244 18.2061C0.321835 18.8551 0.754467 19.3932 1.29262 19.6781C1.91518 20.0105 1.68832 20 7.50773 20C13.343 20 13.1425 20.0105 13.7334 19.6729C14.3401 19.3299 14.8255 18.644 14.9574 17.9476C15.0313 17.5572 15.0313 6.55674 14.9574 6.17159C14.9258 6.01331 14.8308 5.73368 14.7411 5.54375C14.5987 5.23246 14.3665 4.98449 12.1981 2.82134C9.70782 0.336346 9.59175 0.236101 8.99556 0.0830975C8.55766 -0.0276985 2.30561 -0.0276985 1.8888 0.0830975ZM7.52884 3.63384L7.54467 6.05024L7.74515 6.45649C7.97202 6.91551 8.22527 7.14765 8.72121 7.34814C9.01667 7.46421 9.06943 7.46948 11.412 7.48531L13.802 7.50114L13.7862 12.6558C13.7703 17.784 13.7703 17.8104 13.6595 18.0478C13.5276 18.3275 13.2638 18.5807 13.0053 18.6862C12.8523 18.7496 11.9501 18.7601 7.49191 18.7601H2.16316L1.90991 18.6335C1.625 18.4963 1.37176 18.1903 1.29262 17.8843C1.25569 17.7577 1.24513 15.0194 1.25041 9.88589L1.26624 2.08797L1.38231 1.86638C1.53004 1.59203 1.80439 1.37572 2.12622 1.2913C2.31088 1.24381 3.0548 1.22271 4.9436 1.22271L7.51301 1.21744L7.52884 3.63384ZM9.13801 1.52872C9.5812 1.88749 13.6226 5.98693 13.6543 6.10828L13.6806 6.22963H11.4436C9.00084 6.22963 8.98501 6.22963 8.83201 5.92889C8.72121 5.7073 8.68956 1.32296 8.80563 1.32296C8.84783 1.32296 8.99556 1.41792 9.13801 1.52872Z" fill="#ADBFCD"></path>
                                                        <path d="M7.2297 8.86104C7.14528 8.9138 6.32751 9.7052 5.42531 10.6179C3.78975 12.2535 3.77393 12.2746 3.77393 12.4909C3.77393 12.8866 4.19601 13.219 4.53894 13.0871C4.61808 13.0555 5.17206 12.5542 5.76825 11.9686L6.86038 10.9029L6.88676 13.3826C6.91842 16.1683 6.90259 16.0839 7.30356 16.2052C7.56736 16.2844 7.7573 16.2369 7.94724 16.0417L8.10024 15.8939V13.372V10.8501L9.22403 11.9633C10.4375 13.1715 10.5219 13.2243 10.8649 13.0607C11.1867 12.9077 11.3239 12.5701 11.1867 12.2799C11.0812 12.053 7.90503 8.88742 7.71509 8.81883C7.50405 8.7397 7.40908 8.74497 7.2297 8.86104Z" fill="#ADBFCD"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light active">Save</a>
                                            <a href="javascript:void(0);" class="action-btn bg-action-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-otherpayment" role="tabpanel" aria-labelledby="pills-otherpayment-tab">
                                <div class="new-bill-payment clearfix pt-3 px-4">
                                    <a href="javascript:void(0);" class="action-btn text-end float-end py-2 active" data-bs-toggle="modal" data-bs-target="#CreateGstCode">Add New Receipt</a>
                                </div>
                                <div class="form-container p-4">
                                    <div class="row g-3">
                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Customer Name (optional)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">Amount Received*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year End Date">
                                                <label for="floatingSelect">Receipt Date*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Paid Into*</label>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Payment Mode*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Ledger Account</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Branch</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating" id="the-basics-agents">
                                                <input class="form-select typeahead offline-agent"
                                                       type="text" placeholder="Select">
                                                <label for="floatingSelect">Department</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="" value="0.00" placeholder="">
                                                <label for="teamName">Reference (optional)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <table class="display customize-table-style dataTable" id="datatable1_wrapper" role="grid" aria-describedby="basic-14_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Receipt Date</th>
                                                    <th>Receipt Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Ledger Account</th>
                                                    <th>Amount Received</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row">
                                                    <td>21-02-2023</td>
                                                    <td>5</td>
                                                    <td>Aman Singh</td>
                                                    <td>5000 - Cost of Sales</td>
                                                    <td>$5400.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->



    <script>
        $(document).ready(function () {
            var substringMatcher = function (strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;
                    matches = [];
                    substrRegex = new RegExp(q, 'i');
                    $.each(strs, function (i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });

                    cb(matches);
                };
            };

            var agents = ['Nicole Prejean', 'David', 'Smith', 'WEI MIAO', 'laili',
                'Onsri', 'Wan Yun', 'Enyu', 'Rio Rica', 'Sanjay', 'Priscilla Jia', 'John Smith',
                'Redha Nuruinda', 'Mylon Jan', 'Ma Lothel', 'Raufa', 'Areanne Glee', 'Mary Jasmine',
            ];

            $('#the-basics-agents .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
                {
                    name: 'states',
                    source: substringMatcher(agents)
                });
        });

    </script>

    <script>
        $(function () {
            $('input[name="fiscaldate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
                var years = moment().diff(start, 'years');
            });
        });
    </script>
</body>

