@{
    ViewBag.Title = "RollbackTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <link href="../assets/css/adjustment.css" rel="stylesheet">
</head>
<body class="bg-sky-light">

    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")

    <div class="container">
        <div class="row">
            <main class="main-body">
                <div class="main-body-wrapper">
                    <div class="collapsebody bg-f8f8f8 collapse show group-lookuptab" id="">
                        <div class="collapsewrap card bx-shadow ">
                            <div class="collapseheader ps-0 pe-0 me-0">
                                <div class="top_content">
                                    <h1 class="heading">Rollback Transaction</h1>
                                    <span class="sub-heading">Create, view and manage the tax rates for products and services you sell or purchase.</span>
                                </div>
                                <div class="tabboxcontainer sub-ledger-container mt-4">
                                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link journaltab active" id="pills-journal-tab" data-bs-toggle="pill" data-bs-target="#pills-journal" type="button" role="tab" aria-controls="pills-journal" aria-selected="true">Journal</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-receivable-tab" data-bs-toggle="pill" data-bs-target="#pills-receivable" type="button" role="tab" aria-controls="pills-receivable" aria-selected="true">Receivable</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="pills-payable-tab" data-bs-toggle="pill" data-bs-target="#pills-payable" type="button" role="tab" aria-controls="pills-payable" aria-selected="false">Payable</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-journal" role="tabpanel" aria-labelledby="pills-journal-tab">

                                            <div class="form-container formrefrence p-4">
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-floating" id="the-basics-agents">
                                                            <input class="form-select typeahead offline-agent reference" id="reference" type="text" value="" placeholder="Select Reference">
                                                            <label for="floatingSelect">Reference</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control transaction" id="transaction" value="" placeholder="Select Type">
                                                            <label for="teamName">Transaction Type</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating upload">
                                                            <input class="form-control approvalfile" type="text" id="approvalfile" placeholder="Select File" value="">
                                                            <label for="floatingSelect">Approval File</label>
                                                            <input type="file">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control reason" id="reason" value="" placeholder="Enter Reason">
                                                            <label for="teamName">Reason</label>
                                                        </div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-receivable" role="tabpanel" aria-labelledby="pills-receivable-tab">
                                            <div class="form-container p-4">
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-floating" id="the-basics-agents">
                                                            <input class="form-select typeahead offline-agent" type="text" value="INV01" placeholder="Select Reference">
                                                            <label for="floatingSelect">Reference</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="" value="Invoice" placeholder="Select Type">
                                                            <label for="teamName">Transaction Type</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating upload">
                                                            <input class="form-control" type="text" placeholder="Select File" value="Select File">
                                                            <label for="floatingSelect">Approval File</label>
                                                            <input type="file">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="" value="Enter Reason" placeholder="Enter Reason">
                                                            <label for="teamName">Reason</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-payable" role="tabpanel" aria-labelledby="pills-payable-tab">
                                            <div class="form-container p-4">
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-floating" id="the-basics-agents">
                                                            <input class="form-select typeahead offline-agent" type="text" value="BILL01" placeholder="Select Reference">
                                                            <label for="floatingSelect">Reference</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="" value="Bill" placeholder="Select Type">
                                                            <label for="teamName">Transaction Type</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating upload">
                                                            <input class="form-control" type="text" placeholder="Select File" value="Select File">
                                                            <label for="floatingSelect">Approval File</label>
                                                            <input type="file">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-floating">
                                                            <input type="text" class="form-control" id="" value="Enter Reason" placeholder="Enter Reason">
                                                            <label for="teamName">Reason</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-action-section justify-content-end pt-4">
                                    <a href="@Url.Action("Audit","Adjustment")" id="auditbtn" class="action-btn bg-action-light active">Audit</a>
                                    <a href="javascript:void(0);" id="saveaudit" class="action-btn bg-action-light active">Save</a>
                                    <a href="javascript:void(0);" class="action-btn bg-action-light">Cancel</a>
                                </div>

                                <div class="box_container table_manage_container">
                                    <div id="" class="dataTables_wrapper">
                                        <table class="display customize-table-style dataTable" id="productservice" role="grid"
                                               aria-describedby="basic-14_info">
                                            <thead>
                                                <tr role="row">
                                                    <th>Reference</th>
                                                    <th>Ledger</th>
                                                    <th>Transaction Type</th>
                                                    <th>File Name</th>
                                                    <th>Reason</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr role="row">
                                                    <td>BILL01</td>
                                                    <td>Payable</td>
                                                    <td>Bill</td>
                                                    <td>TUI014587KHY</td>
                                                    <td class="align-itmes-center d-flex">
                                                        Wrong Amount Entered
                                                        <a href="javascript:void(0);" class="edit d-flex align-items-center ms-2" data-bs-toggle="modal" data-bs-target="#CreateCustomermodal">
                                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M9.01348 1.03516H5.58608C2.76733 1.03516 1 3.03074 1 5.85591V13.4771C1 16.3023 2.75908 18.2978 5.58608 18.2978H13.6748C16.5027 18.2978 18.2618 16.3023 18.2618 13.4771V9.78478" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.57059 8.48961L13.4209 1.63938C14.2743 0.786875 15.6576 0.786875 16.511 1.63938L17.6266 2.75496C18.48 3.60838 18.48 4.99255 17.6266 5.84505L10.7433 12.7283C10.3702 13.1014 9.86415 13.3113 9.33615 13.3113H5.90234L5.98851 9.84631C6.00134 9.33661 6.20942 8.85081 6.57059 8.48961Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <path d="M12.3809 2.69727L16.5664 6.88277" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            </svg>
                                                        </a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->



    <script>
  $(document).ready(function() {
   $('.input-edit').click(function (){
    $(this).parent().find('.customer-name-control, .typeahead').toggleClass('edit-form');
   });
  });
  $(document).ready(function () {
      var substringMatcher = function (strs) {
          return function findMatches(q, cb) {
              var matches, substringRegex;
              matches = [];
              substrRegex = new RegExp(q, 'i');
              $.each(strs, function (i, str) {
                  if (substrRegex.test(str)) {
                      matches.push(str);
                  }
              });
              cb(matches);
          };
      };
      var agents = ['Nicole Prejean', 'David', 'Smith', 'WEI MIAO', 'laili',
          'Onsri', 'Wan Yun', 'Enyu', 'Rio Rica', 'Sanjay', 'Priscilla Jia', 'John Smith',
          'Redha Nuruinda', 'Mylon Jan', 'Ma Lothel', 'Raufa', 'Areanne Glee', 'Mary Jasmine',
      ];

      $('#the-basics-agents .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
      },
        {
            name: 'states',
            source: substringMatcher(agents)
        });
  });

    </script>

    <script>
$(function() {
  $('input[name="fiscaldate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
  });
});

$(function() {
            $('input[name="daterange"]').daterangepicker(
                {
                    ssingleDatePicker: 'true',
                    showShortcuts: 'false',
                    showTopbar: 'false'
                }
            );
        });


        $('#datatable1').DataTable({
                "columnDefs": [
                    {
                        "targets": -1,
                        "orderable": false
                    }
                ],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search..."
                },
                fixedHeader: {
                    header: true,
                },
                "dom": '<"top"<"toolbar">tf<"clear">>rt<"bottom"lip<"clear">>'
            });




    </script>

    <script>
 $(".form-switch").click(function () {
    if ($(this).parent().hasClass("yes")) {
      $(this).parent().removeClass("yes");
      $(this).parent().addClass("no");
    } else {
      $(this).parent().removeClass("no");
      $(this).parent().addClass("yes");
    }
  });
    </script>
    <script>
  $(document).ready(function () {
      $('#productservice').DataTable({
          pagingType: 'full_numbers',
      });

      $('#framework').multiselect({
        nonSelectedText: 'Select Framework',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        buttonWidth:'400px'
      });
  });
    </script>
</body>
</html>
