
@{
    ViewBag.Title = "sales-invoice-order-04(paid)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<body class="bg-sky-light">

    @Html.Partial("~/Views/Shared/_PartialHeader.cshtml")

    <div class="container">
        <div class="row">
            <main class="main-body">
                <div class="main-body-wrapper">
                    <div class="collapsebody bg-f8f8f8 collapse show group-lookuptab" id="">
                        <div class="collapsewrap card bx-shadow ">
                            <div class="collapseheader ps-0 pe-0 me-0">
                                <div class="d-flex align-item-center justify-content-between">
                                    <div class="top_content">
                                        <h1 class="heading">Sales Invoice SI - 4  <span class="font-14 f-w-500 theme-green-color">(paid)</span></h1>
                                        <span class="sub-heading">View edit and manage your Sales Invoice</span>
                                    </div>
                                    <div class="back_button">
                                        <a href="@Url.Action("SalesOrderHistory", "Sales")" class=" left_arrow">
                                            <span class="arrow-wrapper">
                                                <svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.3048 9.75292C5.38285 9.82121 5.47378 9.87319 5.57222 9.90582C5.67066 9.93845 5.77464 9.95106 5.87803 9.94291C5.98142 9.93476 6.08213 9.90601 6.17425 9.85837C6.26637 9.81072 6.34802 9.74513 6.41442 9.66546C6.48081 9.58578 6.5306 9.49364 6.56086 9.39444C6.59111 9.29524 6.60122 9.19099 6.5906 9.08783C6.57997 8.98466 6.54881 8.88467 6.49897 8.79372C6.44912 8.70277 6.38159 8.62271 6.30035 8.55825L2.85479 5.6867L11.7261 5.6867C11.9324 5.6867 12.1302 5.60475 12.2761 5.45889C12.422 5.31303 12.5039 5.1152 12.5039 4.90892C12.5039 4.70264 12.422 4.50481 12.2761 4.35895C12.1302 4.21308 11.9324 4.13114 11.7261 4.13114L2.99635 4.13114L6.30035 1.37781C6.45898 1.24579 6.55867 1.05616 6.57748 0.850643C6.5963 0.645123 6.5327 0.440547 6.40068 0.281918C6.26866 0.123289 6.07904 0.0236021 5.87352 0.00478612C5.668 -0.0140308 5.46342 0.0495659 5.30479 0.181585L0.28035 4.3707C0.192818 4.44369 0.122398 4.53503 0.0740733 4.63825C0.0257488 4.74147 0.000699552 4.85406 0.000699562 4.96803C0.000699572 5.082 0.0257488 5.19458 0.0740734 5.29781C0.122398 5.40103 0.192818 5.49237 0.28035 5.56536L5.3048 9.75292Z" fill="#043376"></path>
                                                </svg>
                                            </span>
                                            Go to History
                                        </a>
                                    </div>
                                </div>

                                <div class="sort-bar p-3 bg-white border-radius-6 mb-3 mt-3">
                                    <div class="left-sort-bar paid-left-sort-bar">
                                        <div class="">
                                            <span class="font-14 bg-regular f-w-500">Invoice Amount</span>
                                            <h3 class="font-16 mb-0 bg-regular f-w-600">$500.00</h3>
                                        </div>
                                        <div class="">
                                            <span class="font-14 bg-regular f-w-500">Amount Paid</span>
                                            <h3 class="font-16 mb-0 bg-regular f-w-600">$500.00</h3>
                                        </div>
                                        <div class="">
                                            <span class="font-14 bg-regular f-w-500">Amount Outstanding</span>
                                            <h3 class="font-16 mb-0 bg-regular f-w-600">$500.00</h3>
                                        </div>
                                    </div>
                                    <div class="right-sort-bar">
                                        <div>
                                            <button type="button" class="btn-close font-14" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <div class="shared-steps-container">
                                        <div class="shared-steps-wrapper me-0">
                                            <div class="shared-steps">
                                                <div class="shared-status active"><span class=""></span></div>
                                                <div class="info">Created</div>
                                            </div>
                                            <div class="shared-steps">
                                                <div class="shared-status active"><span class=""></span></div>
                                                <div class="info">Sent</div>
                                            </div>
                                            <div class="shared-steps">
                                                <div class="shared-status active"><span class=""></span></div>
                                                <div class="info">Invoiced</div>
                                            </div>
                                            <div class="shared-steps">
                                                <div class="shared-status active"><span class=""></span></div>
                                                <div class="info">Paid</div>
                                            </div>
                                        </div>
                                    </div>



                                    <div id="" class="new-estimate-table p-0 bg-white">
                                        <div class="sort-bar p-4 pb-3 mt-4">
                                            <div class="left-sort-bar d-block">
                                                <div class="">
                                                    <label class="bg-regular">Customer Name:</label>
                                                    <span class="bg-regular f-w-500">Kapil Sharma</span>
                                                </div>
                                                <div class="d-flex align-items-center pt-1">
                                                    <div class="top_content d-flex align-items-center me-4 pt-0">
                                                        <span class="sub-heading font-12 me-1">Created Date:</span>
                                                        <label class="heading m-0 font-12">01-03-2023</label>
                                                    </div>
                                                    <div class="top_content d-flex align-items-center pt-0">
                                                        <span class="sub-heading font-12 me-1">Expire on:</span>
                                                        <label class="heading m-0 font-12">31-03-2023</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="right-sort-bar">
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Credit Notes</span>
                                                    <a href="@Url.Action("NewCreditNotes04", "Sales")" class="table-action-label">
                                                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group 10620">
                                                                <g id="Group">
                                                                    <path id="Vector" d="M1.40135 0.113469C0.90093 0.246914 0.483913 0.605549 0.217022 1.11431L0.000173757 1.53133V7.9784C0.000173757 15.0927 -0.0248473 14.7591 0.525615 15.3262C0.675741 15.4847 0.942631 15.6849 1.12612 15.785C1.45139 15.9684 1.53479 15.9684 5.74666 15.9935C9.43309 16.0101 10.092 16.0018 10.4756 15.885C11.0011 15.7349 11.4431 15.3763 11.7017 14.8925C11.8851 14.5506 11.8851 14.5089 11.9102 9.80494C11.9269 5.70983 11.9185 5.00925 11.8017 4.67563C11.6933 4.34202 11.368 3.98338 9.60824 2.23191C7.60656 0.238574 7.53984 0.180192 7.10614 0.0884479C6.47227 -0.0449975 1.91011 -0.0199765 1.40135 0.113469ZM5.90513 1.01422C5.98019 1.08929 6.00521 1.63975 6.00521 2.9742C6.00521 5.03427 6.03858 5.22609 6.49729 5.60975C6.90597 5.9517 7.24792 6.00175 9.19956 6.00175H11.0094V9.93838C11.0094 12.1069 10.9677 14.0335 10.926 14.217C10.8843 14.4171 10.7509 14.6423 10.5924 14.7758L10.3422 15.0093H5.95517C1.1428 15.0093 1.30961 15.026 1.03438 14.5005C0.850888 14.1419 0.859228 1.8566 1.04272 1.49796C1.30127 0.989204 1.59318 0.930822 3.92847 0.922481C5.28795 0.914141 5.83007 0.939162 5.90513 1.01422ZM9.04944 3.01591L10.9677 4.9592L9.09948 4.98422C7.44809 5.0009 7.21456 4.98422 7.08112 4.86746C6.93933 4.73401 6.92265 4.56721 6.92265 2.89914C6.92265 1.48128 6.94767 1.08095 7.03107 1.08095C7.08946 1.08095 7.99855 1.95668 9.04944 3.01591Z" fill="#ADBFCD" />
                                                                    <path id="Vector_2" d="M2.25245 2.10408C2.09399 2.18748 2.04395 2.27089 2.04395 2.49607C2.04395 2.93811 2.25245 3.00483 3.57023 2.97981C4.56273 2.95479 4.69617 2.93811 4.8046 2.79633C4.95472 2.58782 4.95472 2.40433 4.8046 2.19582C4.69617 2.05404 4.56273 2.03736 3.57023 2.01234C2.77789 1.99565 2.40258 2.02068 2.25245 2.10408Z" fill="#ADBFCD" />
                                                                    <path id="Vector_3" d="M2.18544 4.13261C2.06868 4.21601 2.00195 4.34945 2.00195 4.49958C2.00195 4.92494 2.22714 5 3.47819 5C4.47903 5 4.60414 4.98332 4.75426 4.83319C4.84601 4.74145 4.92107 4.59132 4.92107 4.49958C4.92107 4.40784 4.84601 4.25771 4.75426 4.16597C4.60414 4.01584 4.47903 3.99916 3.47819 3.99916C2.6108 3.99916 2.33557 4.02418 2.18544 4.13261Z" fill="#ADBFCD" />
                                                                    <path id="Vector_4" d="M2.5271 7.63124C2.02668 7.84809 1.95996 8.0566 1.95996 9.50782C1.95996 10.6254 1.98498 10.8423 2.11009 11.0424C2.41868 11.5012 2.53544 11.5178 6.09677 11.4928L9.35784 11.4678L9.64141 11.1592L9.92498 10.8423V9.54118C9.92498 8.08162 9.85826 7.86477 9.37452 7.63124C8.9992 7.4561 2.93578 7.44776 2.5271 7.63124ZM8.82406 8.47362C9.00754 8.52366 9.01588 8.54868 8.99086 9.49948L8.96584 10.467L5.94664 10.492L2.9191 10.5087V9.51616C2.9191 8.64042 2.93578 8.51532 3.06923 8.48196C3.28607 8.42358 8.60721 8.41523 8.82406 8.47362Z" fill="#ADBFCD" />
                                                                    <path id="Vector_5" d="M7.18935 13.1404C7.07258 13.2238 7.00586 13.3573 7.00586 13.5074C7.00586 13.9327 7.23105 14.0078 8.46542 14.0078C9.31613 14.0078 9.59136 13.9828 9.74149 13.8744C9.97502 13.7159 9.98336 13.399 9.75817 13.1738C9.60804 13.0237 9.48294 13.007 8.4821 13.007C7.6147 13.007 7.33947 13.032 7.18935 13.1404Z" fill="#ADBFCD" />
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Recurring invoice</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group 10602">
                                                                <g id="Group">
                                                                    <path id="Vector" d="M7.47673 0.0602179C5.85164 0.289642 4.35082 0.997035 3.03163 2.16328C2.17129 2.92802 1.14844 4.60091 1.14844 5.25095C1.14844 5.662 1.50213 5.98702 1.9323 5.98702C2.36248 5.98702 2.51543 5.85319 2.85 5.20315C3.93977 3.03318 6.1193 1.68531 8.5187 1.68531C9.45552 1.68531 10.1151 1.84782 10.9946 2.26843C11.4725 2.50741 11.9123 2.86111 12.8873 3.8266L14.1683 5.07888L12.4954 5.12668C10.8799 5.17447 10.8129 5.18403 10.574 5.4039C10.1151 5.83407 10.3254 6.65617 10.9277 6.79956C11.0424 6.82824 12.3711 6.84736 13.8815 6.82824C16.5964 6.79956 16.6346 6.79956 16.8449 6.5797C17.0648 6.36939 17.0648 6.35983 17.0648 3.40599C17.0648 0.576423 17.0552 0.442592 16.8736 0.260964C16.5581 -0.044935 15.975 -0.044935 15.6787 0.270524C15.5066 0.461711 15.4875 0.595542 15.4875 2.12504C15.4875 3.03318 15.4492 3.79793 15.411 3.8266C15.3632 3.85528 14.8374 3.37731 14.2352 2.77507C13.0594 1.58016 12.3616 1.05439 11.4152 0.62422C10.2872 0.108015 8.71945 -0.111851 7.47673 0.0602179Z" fill="#ADBFCD" />
                                                                    <path id="Vector_2" d="M0.479556 9.23469C0.0111478 9.41632 -0.00797094 9.55971 0.00158841 12.0165C0.00158841 13.6416 0.0398258 14.3681 0.12586 14.5019C0.288369 14.76 0.775896 14.9034 1.0818 14.7887C1.54064 14.6166 1.62668 14.3585 1.62668 13.1636V12.0738L2.80248 13.2114C4.62832 14.999 5.785 15.6395 7.67775 15.9358C9.39843 16.2035 11.6066 15.6203 13.2413 14.4445C14.4075 13.6129 15.7554 11.854 15.9179 10.9363C15.9753 10.6208 15.9466 10.5443 15.6981 10.2862C15.3922 9.98988 15.048 9.92297 14.723 10.095C14.6274 10.1428 14.3693 10.5252 14.1494 10.9267C13.6046 11.9209 12.4479 13.0776 11.5015 13.5651C9.70433 14.5019 7.71599 14.5497 6.07178 13.6989C5.46954 13.3835 5.05849 13.0584 4.14079 12.1599C3.49075 11.5385 2.96499 10.9841 2.96499 10.9458C2.96499 10.898 3.37604 10.8598 3.87313 10.8598C4.94378 10.8598 5.40262 10.7068 5.54601 10.3245C5.67985 9.98988 5.59381 9.58839 5.33571 9.36852C5.16364 9.20602 4.93422 9.1869 2.92675 9.16778C1.69359 9.15822 0.613387 9.1869 0.479556 9.23469Z" fill="#ADBFCD" />
                                                                </g>
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Print</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group 10603">
                                                                <path id="Vector" d="M3.46824 0.0844421C3.00136 0.192825 2.46779 0.626352 2.19266 1.11824L1.95922 1.5351V3.76111V5.98712L1.65075 6.03715C1.484 6.07049 1.15052 6.21224 0.908744 6.35393C0.566924 6.5624 0.408519 6.7291 0.233439 7.07095L0 7.51283V9.61379C0 10.7643 0.0333484 11.7481 0.0666971 11.8064C0.191754 12.0065 0.558587 12.0232 0.742006 11.8398C0.908744 11.673 0.917085 11.5813 0.917085 9.70545C0.917085 8.11311 0.942096 7.68791 1.04214 7.49614C1.30893 6.97922 1.04214 6.99591 7.98694 6.99591H14.3148L14.5483 7.17931C14.9651 7.50446 15.0068 7.73794 15.0068 9.82219V11.7481L15.2152 11.8814C15.482 12.0565 15.8072 11.9398 15.8822 11.6397C15.9155 11.5313 15.9239 10.5475 15.9072 9.44702C15.8822 7.69623 15.8655 7.4211 15.7238 7.16268C15.3987 6.55402 14.8818 6.1622 14.2398 6.04548L13.923 5.98712V4.0279C13.923 2.53556 13.898 2.01032 13.8063 1.80189C13.6645 1.4684 12.3806 0.201162 12.0638 0.0844421C11.7637 -0.0322774 3.93512 -0.0239403 3.46824 0.0844421ZM12.3389 1.57678L13.0059 2.23542V4.11961V5.99546H7.96193H2.91799V3.86949C2.91799 1.57678 2.95134 1.36836 3.35986 1.15159C3.73503 0.943165 4.1102 0.926489 7.85356 0.918154L11.6636 0.909819L12.3389 1.57678Z" fill="#ADBFCD" />
                                                                <path id="Vector_2" d="M13.2561 7.80253C12.956 7.91089 12.7559 8.19439 12.7559 8.48615C12.7642 8.84469 12.8976 9.0364 13.2061 9.16146C13.6646 9.33653 14.1732 8.97806 14.1732 8.48615C14.1732 8.06096 13.6313 7.66077 13.2561 7.80253Z" fill="#ADBFCD" />
                                                                <path id="Vector_3" d="M2.59261 10.1039C2.4342 10.1623 2.22577 10.3124 2.13406 10.4374C1.96733 10.6626 1.95898 10.7709 1.95898 12.9886C1.95898 15.0812 1.97566 15.3147 2.10905 15.5314C2.41753 15.9983 2.37584 15.9983 7.97002 15.9983C13.6976 15.9983 13.5726 16.0066 13.806 15.448C13.9811 15.0312 13.9727 10.921 13.7977 10.5458C13.5476 10.0123 13.8144 10.0373 8.08677 10.0206C4.18499 10.0039 2.80104 10.0289 2.59261 10.1039ZM13.0057 12.9969V14.9978H7.96171H2.91776V12.9969V10.996H7.96171H13.0057V12.9969Z" fill="#ADBFCD" />
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Mail</span>
                                                    <a href="javascript:void(0)" class="table-action-label" data-bs-toggle="modal" data-bs-target="#emailpopup">
                                                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path id="Vector" d="M1.88088 0.0684357C1.31384 0.185754 1.06943 0.322626 0.668589 0.733243C-0.0353223 1.46648 -0.0353223 1.4176 0.0233369 7.26396L0.0722194 12.4553L0.365515 12.9246C0.570823 13.2472 0.825011 13.4818 1.19652 13.697L1.73423 14H9.35991H16.9856L17.3767 13.7849C17.8362 13.5405 18.2077 13.1592 18.4619 12.6802C18.6379 12.3575 18.6476 12.0252 18.6476 7.00978C18.6476 1.74022 18.6476 1.68156 18.4326 1.29051C18.1686 0.791903 17.7775 0.420391 17.2789 0.19553C16.9172 0.0293296 16.3893 0.019553 9.55547 0C5.52753 0 2.06664 0.019553 1.88088 0.0684357ZM17.0834 1.35894C17.2301 1.47626 17.4158 1.71089 17.4842 1.88687C17.6602 2.29749 17.6602 3.59776 17.5038 3.80307C17.3571 3.97905 10.67 8.86732 10.1421 9.18019C9.65321 9.46366 9.06662 9.45391 8.51918 9.15086C8.14765 8.93573 4.79429 6.52095 2.00798 4.44832L1.09876 3.78352V2.89385C1.09876 1.93576 1.17697 1.70112 1.56803 1.36871L1.832 1.14386H9.32083H16.8096L17.0834 1.35894ZM2.17417 5.99302C2.63367 6.31564 4.15881 7.43017 5.56663 8.44695C7.64904 9.96227 8.21606 10.3338 8.62667 10.4315C9.26217 10.588 10.0443 10.5098 10.5429 10.2556C10.758 10.1382 12.4004 8.97488 14.1993 7.65505C16.3697 6.07123 17.494 5.30866 17.5429 5.3771C17.582 5.44553 17.6211 6.91201 17.6211 8.65226C17.6211 12.074 17.6015 12.2598 17.0834 12.6606L16.8096 12.8757H9.38924C1.24541 12.8757 1.55825 12.8952 1.24541 12.2891C1.11831 12.0545 1.09876 11.4581 1.09876 8.62293C1.09876 5.94413 1.12809 5.25 1.21608 5.31844C1.28451 5.35754 1.71468 5.66062 2.17417 5.99302Z" fill="#ADBFCD" />
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Copy</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6.48786 0.0680949C5.96176 0.193357 5.46906 0.585844 5.22689 1.07854L5.00977 1.51279V5.49613V9.47945L5.24359 9.91374C5.52752 10.4649 5.99516 10.8072 6.61312 10.9158C6.92208 10.9743 8.43362 10.9993 10.7468 10.9826C14.062 10.9575 14.4378 10.9409 14.7385 10.8072C15.1643 10.6152 15.4984 10.2979 15.7239 9.87196C15.9076 9.54628 15.9076 9.47945 15.9076 5.48778C15.9076 1.69651 15.8993 1.42093 15.7489 1.14535C15.5318 0.736159 15.2145 0.410479 14.822 0.201708C14.4963 0.01799 14.4128 0.01799 10.6466 0.00128822C8.53383 -0.00706264 6.66323 0.0263406 6.48786 0.0680949Z" fill="#ADBFCD" />
                                                            <path d="M1.3946 5.10129C0.818389 5.31006 0.450952 5.61904 0.217129 6.07833L7.66839e-06 6.52093V10.4709C7.66839e-06 14.83 -0.00834317 14.7715 0.526109 15.3227C0.676423 15.4814 0.943651 15.6818 1.12737 15.782C1.45305 15.9657 1.54491 15.9657 5.25268 15.9908C9.4615 16.0158 9.66192 15.9991 10.2465 15.4814C10.4135 15.3394 10.639 15.0304 10.7392 14.7966C10.9145 14.4208 10.9396 14.2621 10.9396 13.1849V11.9991H10.2381H9.53666L9.50322 13.1348C9.47816 14.1369 9.4615 14.2789 9.31952 14.3874C9.18593 14.4876 8.50951 14.5043 5.42804 14.5043C1.9207 14.5043 1.68688 14.4959 1.56161 14.354C1.43635 14.212 1.41965 13.8195 1.41965 10.4792C1.41965 6.9886 1.428 6.75473 1.56996 6.62947C1.69523 6.5126 1.9207 6.48755 2.82259 6.48755H3.9249V5.73595V4.98438H2.82259C2.10441 4.99273 1.59502 5.03448 1.3946 5.10129Z" fill="#ADBFCD" />
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Download</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group 120">
                                                                <path id="Vector" d="M1.51104 0.0664782C0.844158 0.247972 0.354547 0.703818 0.0928574 1.38759L0 1.62817V7.98046C0 14.0837 0.00422079 14.3412 0.080195 14.5649C0.257468 15.0841 0.603573 15.5146 1.03409 15.7425C1.53215 16.0084 1.35065 16 6.00619 16C10.6744 16 10.514 16.0084 10.9867 15.7383C11.4721 15.4639 11.8604 14.9152 11.9659 14.3581C12.025 14.0457 12.025 5.24539 11.9659 4.93727C11.9406 4.81065 11.8646 4.58695 11.7929 4.435C11.6789 4.18597 11.4932 3.98759 9.75847 2.25707C7.76626 0.269076 7.6734 0.188881 7.19645 0.0664782C6.84612 -0.0221584 1.84449 -0.0221584 1.51104 0.0664782ZM6.02307 2.90707L6.03573 4.84019L6.19612 5.1652C6.37762 5.5324 6.58021 5.71812 6.97697 5.87851C7.21333 5.97137 7.25554 5.97559 9.12957 5.98825L11.0416 6.00091L11.0289 10.1246C11.0163 14.2272 11.0163 14.2483 10.9276 14.4383C10.8221 14.662 10.6111 14.8646 10.4043 14.949C10.2818 14.9996 9.56009 15.0081 5.99352 15.0081H1.73052L1.52793 14.9068C1.3 14.797 1.09741 14.5522 1.03409 14.3074C1.00455 14.2061 0.996107 12.0155 1.00033 7.90871L1.01299 1.67038L1.10585 1.49311C1.22403 1.27362 1.44351 1.10057 1.70098 1.03304C1.84871 0.995053 2.44384 0.978169 3.95488 0.978169L6.01041 0.973949L6.02307 2.90707ZM7.31041 1.22298C7.66496 1.50999 10.8981 4.78955 10.9234 4.88662L10.9445 4.9837H9.1549C7.20067 4.9837 7.18801 4.9837 7.06561 4.74312C6.97697 4.56584 6.95164 1.05836 7.0445 1.05836C7.07827 1.05836 7.19645 1.13434 7.31041 1.22298Z" fill="#ADBFCD" />
                                                                <path id="Vector_2" d="M6.22757 12.9202C6.2951 12.8779 6.94932 12.2448 7.67108 11.5146C8.97953 10.2062 8.99219 10.1893 8.99219 10.0162C8.99219 9.69969 8.65452 9.43378 8.38017 9.5393C8.31686 9.56462 7.87368 9.9656 7.39673 10.4341L6.52302 11.2867L6.50192 9.30293C6.47659 7.07435 6.48926 7.14188 6.16848 7.04481C5.95744 6.98149 5.80549 7.01948 5.65354 7.17565L5.53114 7.29383L5.53114 9.31137L5.53114 11.3289L4.63211 10.4383C3.66133 9.47176 3.59379 9.42955 3.31944 9.5604C3.06197 9.6828 2.95223 9.95293 3.06197 10.1851C3.14639 10.3666 5.68731 12.899 5.83926 12.9539C6.00809 13.0172 6.08406 13.013 6.22757 12.9202Z" fill="#ADBFCD" />
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Delete</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group 10606">
                                                                <path id="Vector" d="M5.0594 0.0975651C4.62526 0.256193 4.29131 0.606845 3.84047 1.34989L3.46477 1.9844H1.92024C0.200372 1.9844 0 2.0345 0 2.47699C0 2.78589 0.166977 2.91113 0.626164 2.96957C0.926722 3.00296 1.01021 3.04471 1.04361 3.18664C1.0603 3.27848 1.16049 4.5475 1.25233 5.99185C1.35251 7.4362 1.46105 9.07258 1.51114 9.6236C1.55289 10.1746 1.64472 11.3936 1.71151 12.337C1.7783 13.2804 1.85344 14.2071 1.87849 14.3908C1.95363 14.9418 2.35438 15.4678 2.9054 15.735L3.38128 15.9687L6.71247 15.9938C10.4027 16.0188 10.7366 15.9854 11.2876 15.568C11.9722 15.042 12.0223 14.8583 12.2394 11.7693C12.6652 5.71634 12.8572 3.18664 12.8906 3.10315C12.9073 3.05306 13.1077 2.98627 13.3248 2.96122C13.8841 2.90278 14.1012 2.56882 13.8257 2.18478C13.7172 2.04285 13.5752 2.02615 12.0808 2.0011L10.4528 1.97606L9.90173 1.14952C9.14199 0.00572781 9.20043 0.0307744 7.09652 0.00572781C5.78575 -0.0109699 5.30987 0.00572781 5.0594 0.0975651ZM8.97501 1.44173C9.13364 1.6922 9.26722 1.91761 9.26722 1.94266C9.26722 1.96771 8.23196 1.9844 6.97129 1.9844C5.19298 1.9844 4.67536 1.95936 4.67536 1.87587C4.67536 1.82578 4.80894 1.60036 4.96756 1.37494L5.25977 0.982543H6.97129H8.6828L8.97501 1.44173ZM11.8721 3.61243C11.8554 3.92969 11.7886 4.85641 11.7301 5.6579C11.6633 6.45939 11.5298 8.22934 11.4379 9.58186C11.3461 10.9344 11.2542 12.2117 11.2376 12.4205C11.2125 12.6292 11.1708 13.1301 11.1374 13.5476C11.104 13.9567 11.0288 14.3991 10.962 14.5244C10.7283 15.0003 10.6782 15.0086 6.89615 15.0086H3.43973L3.18091 14.7915C3.03898 14.6747 2.8887 14.4409 2.84696 14.2739C2.80521 14.1069 2.70503 13.0466 2.62989 11.9195C2.5631 10.7924 2.44621 9.19781 2.37942 8.37127C2.21244 6.33415 2.00372 3.42876 2.00372 3.18664V2.98627L6.95459 3.00296L11.8971 3.02801L11.8721 3.61243Z" fill="#ADBFCD" />
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>
                                                <div class="table-action-box border rounded">
                                                    <span class="table-action-text">Edit</span>
                                                    <a href="#" class="table-action-label">
                                                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g id="Group">
                                                                <path id="Vector" d="M12.8407 0.187327C12.3991 0.431649 5.24005 7.42432 4.9683 7.87926C4.76448 8.23311 4.17851 10.5078 4.10208 11.2661C4.05962 11.6536 4.07661 11.7126 4.27193 11.839C4.47575 11.9653 4.56067 11.9569 6.04682 11.6199C6.89605 11.4261 7.77076 11.1818 7.98307 11.0723C8.50959 10.8111 15.7026 3.64154 15.9234 3.16132C16.1272 2.72322 16.1272 1.99868 15.9234 1.57744C15.6941 1.08879 15.0741 0.456924 14.5901 0.221027C14.0126 -0.0654199 13.3332 -0.0738448 12.8407 0.187327ZM14.123 1.03824C14.4542 1.18147 15.0062 1.77121 15.0826 2.06608C15.193 2.49575 15.0402 2.87487 14.5476 3.38879C14.2844 3.65839 14.0296 3.87743 13.9786 3.87743C13.9277 3.87743 13.4861 3.48146 12.9935 2.99282L12.1103 2.1082L12.5689 1.63641C13.2398 0.953993 13.588 0.819195 14.123 1.03824ZM12.3821 3.74264L13.2568 4.61883L10.4034 7.42432L7.55845 10.2382L6.41199 10.5247C5.78356 10.6848 5.24854 10.7943 5.22307 10.769C5.19759 10.7522 5.30799 10.2045 5.46934 9.56424L5.75808 8.40161L8.54356 5.63824C10.0807 4.11333 11.38 2.86645 11.4309 2.86645C11.4734 2.86645 11.9065 3.26242 12.3821 3.74264Z" fill="#ADBFCD" />
                                                                <path id="Vector_2" d="M2.02117 1.94119C1.49464 2.03386 0.798276 2.41298 0.535015 2.75841C0.424615 2.90163 0.254769 3.21335 0.161354 3.44925C0.0084923 3.85364 0 4.15694 0 8.90858C0 11.6804 0.0339692 14.0646 0.0764307 14.2078C0.271754 14.8818 0.789784 15.4547 1.48615 15.7749L1.91077 15.9686L6.75138 15.9939C10.1228 16.0108 11.7449 15.9939 12.1015 15.9265C12.9847 15.758 13.5877 15.3031 13.9444 14.5364C14.1312 14.132 14.1397 14.0141 14.1652 11.7393C14.1821 10.1218 14.1652 9.31298 14.0972 9.19503C13.9868 8.97598 13.4943 8.95071 13.3244 9.16133C13.231 9.26243 13.197 9.8269 13.1631 11.6635C13.1206 13.9467 13.1121 14.0393 12.9253 14.3426C12.8149 14.5196 12.5856 14.7218 12.3648 14.8229C12.0166 14.9998 11.8892 14.9998 7.0571 14.9998C2.37784 14.9998 2.0976 14.9914 1.80037 14.8397C1.40972 14.6459 1.23138 14.4522 1.06154 14.0478C0.951138 13.7866 0.934153 13.0705 0.934153 8.93386C0.934153 3.82837 0.934153 3.78624 1.34178 3.34815C1.71544 2.93533 1.85132 2.91005 4.39901 2.86793C6.65796 2.82581 6.81932 2.81738 6.92972 2.66573C7.08258 2.45511 7.08258 2.26976 6.92972 2.05914C6.81082 1.90749 6.68344 1.89907 4.61132 1.88222C3.40541 1.88222 2.24197 1.90749 2.02117 1.94119Z" fill="#ADBFCD" />
                                                            </g>
                                                        </svg>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="theme-secondary estimate-create-container">
                                            <table class="display customize-table-style" id="" role="grid"
                                                   aria-describedby="basic-14_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Item Description</th>
                                                        <th>HSN Code / SAC</th>
                                                        <th>Quantity</th>
                                                        <th>Rate</th>
                                                        <th>Discount</th>
                                                        <th>Tax</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row">
                                                        <td>Stationary</td>
                                                        <td>125478</td>
                                                        <td>01</td>
                                                        <td>$500.00</td>
                                                        <td>0.00</td>
                                                        <td>0.00</td>
                                                        <td>$500.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="estimate-comment-box">
                                                <div class="profile-sub-item">
                                                    <span class="profile-sub-label f-w-500">Sub Total</span>
                                                    <span class="profile-sub-info">$500.00</span>
                                                </div>


                                                <div class="profile-sub-item">
                                                    <span class="profile-sub-label f-w-500">Tax</span>
                                                    <span class="profile-sub-info">$0.00</span>
                                                </div>
                                                <div class="total-sub-item">
                                                    <span class="total-sub-label">Total</span>
                                                    <span class="total-sub-info">$500.00</span>
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="tabboxcontainer jurnal-entry-container bg-sky-light mt-4">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-payment-summary-tab" data-bs-toggle="pill" data-bs-target="#pills-payment-summary" type="button" role="tab" aria-controls="pills-payment-summary" aria-selected="false">Payment Summary</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-order-summary-tab" data-bs-toggle="pill" data-bs-target="#pills-order-summary" type="button" role="tab" aria-controls="pills-srder-summary" aria-selected="false">Sales Order Summary</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane active show fade" id="pills-payment-summary" role="tabpanel" aria-labelledby="pills-payment-summary-tab">
                                                <div class="form-container bg-white p-4 pb-0">
                                                    <div class="bg-white jurnal-entry-table pb-3">
                                                        <table class="display customize-table-style w-100" id="" role="grid"
                                                               aria-describedby="basic-14_info">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th>Payment Date</th>
                                                                    <th>Amount</th>
                                                                    <th>Payment Number</th>
                                                                    <th>Reference Number</th>
                                                                    <th>Payment Method</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr role="row">
                                                                    <td>05-03-2023</td>
                                                                    <td>$500.00</td>
                                                                    <td>1</td>
                                                                    <td>ASD1458</td>
                                                                    <td>Cash</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-order-summary" role="tabpanel" aria-labelledby="pills-order-summary-tab">
                                                <div class="form-container bg-white p-4 pb-0">
                                                    <div class="bg-white jurnal-entry-table pb-3">
                                                        <table class="display customize-table-style w-100" id="" role="grid"
                                                               aria-describedby="basic-14_info">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th>Date</th>
                                                                    <th>Order Number </th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr role="row">
                                                                    <td>05-03-2023</td>
                                                                    <td>SO-01</td>
                                                                    <td>Closed</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
   

    <!-- Modal -->

    <div class="modal fade" id="recordpayment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Record Payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-0" style="background:#fff;">
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Amount Received</label>
                        <div class="recordwidth">
                            <input type="text" class="form-control text-end" placeholder="0.00" aria-label="Search" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Discount</label>
                        <div class="recordwidth">
                            <input type="text" class="form-control text-end" placeholder="0.00" aria-label="Search" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">TDS Chargeable: </label>
                        <div class="dash-form-group recordwidth d-flex align-items-center h-auto border-0 p-0">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Yes" value="option1" checked="">
                                <label class="form-check-label" for="Yes">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="No" value="option2">
                                <label class="form-check-label" for="No">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">TDS Section and Rate</label>
                        <div class="dropdown recordwidth">
                            <a class="form-select py-1 dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Select</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 1</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Tax Account</label>
                        <div class="dropdown recordwidth">
                            <a class="form-select py-1 dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Select</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 1</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">TDS Amount</label>
                        <div class="recordwidth">
                            <input type="text" class="form-control text-end" placeholder="0.00" aria-label="Search" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Receipt Date</label>
                        <div class="recordwidth">
                            <input type="text" class="form-control datepicker" name="fiscaldate" placeholder="Fiscal Year Start Date">
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Payment Method</label>
                        <div class="dropdown recordwidth">
                            <a class="form-select py-1 dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Select</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 1</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Paid Into</label>
                        <div class="dropdown recordwidth">
                            <a class="form-select py-1 dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="">Select</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 1</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Select 2</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pb-3">
                        <label class="font-14 bg-regular f-w-500 d-flex flex-grow-1">Attach File</label>

                        <div class=" form-floating rounded border p-1 ps-3 recordwidth upload">
                            <span class="font-14 f-w-500">Select</span>
                            <input type="file">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn action-btn me-2 bg-action-light active">save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="emailpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Email Sales Invoice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body " style="background:#fff;">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating" id="the-basics-agents">
                                <input class="form-control" type="text" placeholder="Enter Name">
                                <label for="floatingSelect">To*</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating" id="the-basics-agents">
                                <input class="form-control" type="text" placeholder="Enter Name">
                                <label for="floatingSelect">Cc*</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating" id="the-basics-agents">
                                <input class="form-control" type="text" placeholder="Enter Name">
                                <label for="floatingSelect">Subject*</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating upload">
                                <input class="form-control" type="text" placeholder="" value="Sales document">
                                <label for="floatingSelect">Attachment</label>
                                <input type="file" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" style="height:124px;" value="I would like to take flight from Houston, Texas"></textarea>
                                <label for="teamName">Message </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn action-btn bg-action-light active">Send</button>
                    <button type="button" class="btn action-btn bg-action-light" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>



    <script>
  $(document).ready(function() {
   $('.input-edit').click(function (){
    $(this).parent().find('.customer-name-control, .typeahead').toggleClass('edit-form');
   });
  });
  $(document).ready(function () {
      var substringMatcher = function (strs) {
          return function findMatches(q, cb) {
              var matches, substringRegex;
              matches = [];
              substrRegex = new RegExp(q, 'i');
              $.each(strs, function (i, str) {
                  if (substrRegex.test(str)) {
                      matches.push(str);
                  }
              });

              cb(matches);
          };
      };

      var agents = ['Nicole Prejean', 'David', 'Smith', 'WEI MIAO', 'laili',
          'Onsri', 'Wan Yun', 'Enyu', 'Rio Rica', 'Sanjay', 'Priscilla Jia', 'John Smith',
          'Redha Nuruinda', 'Mylon Jan', 'Ma Lothel', 'Raufa', 'Areanne Glee', 'Mary Jasmine',

      ];

      $('#the-basics-agents .typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
      },
          {
              name: 'states',
              source: substringMatcher(agents)
          });
  });




    </script>

    <script>
$(function() {
  $('input[name="fiscaldate"]').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    minYear: 1901,
    maxYear: parseInt(moment().format('YYYY'),10)
  }, function(start, end, label) {
    var years = moment().diff(start, 'years');
  });
});

$(function() {
            $('input[name="daterange"]').daterangepicker(
                {
                    ssingleDatePicker: 'true',
                    showShortcuts: 'false',
                    showTopbar: 'false'
                }
            );
        });


        $('#datatable1').DataTable({
                "columnDefs": [
                    {
                        "targets": -1,
                        "orderable": false
                    }
                ],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search..."
                },
                fixedHeader: {
                    header: true,
                },
                "dom": '<"top"<"toolbar">tf<"clear">>rt<"bottom"lip<"clear">>'
            });




    </script>

    <script>
 $(".form-switch").click(function () {
    if ($(this).parent().hasClass("yes")) {
      $(this).parent().removeClass("yes");
      $(this).parent().addClass("no");
    } else {
      $(this).parent().removeClass("no");
      $(this).parent().addClass("yes");
    }
  });
    </script>
    <script>
  $(document).ready(function () {
      $('#productservice').DataTable({
          pagingType: 'full_numbers',
      });

      $('#framework').multiselect({
        nonSelectedText: 'Select Framework',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true,
        buttonWidth:'400px'
      });
  });
    </script>
</body>
</html>
